@model Portfolio.Models.EmailViewModel  


@{
    ViewData["Title"] = "Home Page";
}

<nav id="myNavbar" class="navbar navbar-expand-md  navbar-light py-3 kk fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand fw-bold">Raphael Isaac</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ms-auto nav-pills">
                <li class="nav-item"> <a href="#home" class="nav-link">Home</a> </li>
                <li class="nav-item"> <a href="#about" class="nav-link">About</a> </li>
                <li class="nav-item"> <a href="#service" class="nav-link">Service</a> </li>
                <li class="nav-item"> <a href="#portfolio" class="nav-link">Portfolio</a> </li>
                <li class="nav-item"> <a href="#contact" class="nav-link">Contact</a> </li>
            </ul>
        </div>
    </div>
</nav>
<div id="home" style="background:url(img/banner-bg.png) no-repeat right top;">
    <div class="padd padd-top-new padd-bottom-new">
        <div class="container padd-bottom-new">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 order-1">
                    <h2 class="display-4 mb-5">I'm Raphael Isaac, Software Developer. 🚀</h2>
                    <p class="text-muted lead pb-4">A C# | .Net | Javascript | React Js Software developer. I Design and Build Live Changing Products and Systems 🙌 </p>
                    <a href="#contact" class="btn"> I'M AVAILABLE </a>
                    <div class="social-icons mt-5"> <a href="https://www.linkedin.com/in/raphael-isaac-0b598b19b/"><i class="lni lni-linkedin-original"></i></a> <a href="https://twitter.com/IsaacRaphael01"><i class="lni lni-twitter-filled"></i></a> <a href="https://www.instagram.com/rarva_el/"><i class="lni lni-instagram-filled"></i></a> <a href="https://github.com/isaacRaphael"><i class="lni lni-github-original"></i></a> </div>
                </div>
                <div class="col-lg-6 col-12 text-center mb-5 mb-lg-0 order-lg-1">
                    <div class="banner-image"> <img src="~/img/hs.jpg" class="img-fluid shadow-lg" > </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="padd" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="display-5 mb-5">About</h2>
                </div>
                <div class="col-md-6">
                    <p class="lead mb-5">I'm a Software developer with several years of experience and skilled in development technologies  like (C#, ASP.Net , JavaScript React JS, Next JS, and SQL). I'm passionate about building, learning and growing. 👨‍💻</p>
                    <a href="https://drive.google.com/file/d/1sm0FLAIO7DtlQ-46K5rYUu7jRW02UJ1K/view?usp=sharing" class="btn">Download Resume</a>
                </div>
                <div class="col-md-4 offset-md-1">
                    <div class="description mt-5 mt-md-0">
                        <ul class="w-100">
                            <li>
                                <p><span>Birthday:</span>03.10.1999</p>
                            </li>
                            <li>
                                <p><span>Age:</span>22</p>
                            </li>
                            <li>
                                <p><span>Address:</span><a class="href_location" href="#" >Lagos, Nigeria</a></p>
                            </li>
                            <li>
                                <p><span>Email:</span><a href="mailto:isaacraphaelchidi@gmail.com">isaacraphaelchidi@gmail.com</a></p>
                            </li>
                            <li>
                                <p><span>Phone:</span><a href="tel:+770221770505">+234 814760639</a></p>
                            </li>
                            <li>
                                <p><span>Title:</span><a class="href_location" href="#" target="_blank"> Fullstack Developer C# | .Net | Javascript | React Js</a></p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="padd" id="service">
    <div class="container padd-bottom-new">
        <div class="row padd-top-new">
            <div class="col-lg-12">
                <h2 class="display-6 mb-5">What I Do</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="mb-4 ss"> <i class="lni lni-chrome"></i> </div>
                <h6 class="mb-4">FRONT END WEB DEVELOPMENT</h6>
                <p>I build interactive and functional UI's on the web front end levearaging powerful SPA tools like React Js and Next Js to build scalable apps.'</p>
            </div>
            <div class="col-md-4">
                <div class="mb-4 ss"><i class="lni lni-code-alt"></i>   </div>
                <h6 class="mb-4">BACK END ENGINEERING</h6>
                <p>I build scalable and effective backend services and rest APIs leveraging powerful exterprise tools like ASP.Net and C# for clean and robust apllications </p>
            </div>
            <div class="col-md-4">
                <div class="mb-4 ss"> <i class="lni lni-camera"></i> </div>
                <h6 class="mb-4">VISUAL DESIGN</h6>
                <p>I Design Interactive and infomative visual graphics that applies design thinking to deliver the best User Interraction.</p>
            </div>
            <div class="col-md-4">
                <div class="mb-4 ss">  <i class="lni lni-control-panel"></i> </div>
                <h6 class="mb-4">SQL & DATABASE DESIGN</h6>
                <p>I Design robust , scalable and secure databases and manage storage of complex datasets. </p>
            </div>
            <div class="col-md-4">
                <div class="mb-4 ss"><i class="lni lni-android"></i> </div>
                <h6 class="mb-4">MOBILE / DESKTOP DEVELOPMENT </h6>
                <p>I build interactive and functional UI's on Mobile and Desktop devices leveraging powerful cross-platform design tools.</p>
            </div>
            <div class="col-md-4">
                <div class="mb-4 ss"> <i class="lni lni-frame-expand"></i></div>
                <h6 class="mb-4">PROJECT MANAGEMENT </h6>
                <p>I can manage a team of creatives and engineers in a system which is both agile whilst maintaining product intergrity</p>
            </div>
        </div>
        <div class="col-lg-12 mt-4">
            <h2 class="display-6 mb-5">Tools</h2>
            <div class="tools d-flex justify-content-between w-100 flex-wrap">
                <div><i class="devicon-csharp-plain colored"></i></div><div><i class="devicon-dotnetcore-plain colored"></i></div><div><i class="devicon-javascript-plain colored"></i></div>
                <div><i class="devicon-react-original-wordmark colored"></i></div><div><i class="devicon-nextjs-plain-wordmark colored"></i></div><div><i class="devicon-microsoftsqlserver-plain-wordmark colored"></i></div><div><i class="devicon-postgresql-plain-wordmark colored"></i></div>
                <div><i class="devicon-tailwindcss-original-wordmark colored"></i></div><div><i class="devicon-sass-original colored cho"></i></div>
            </div>
            <div class="tools d-flex justify-content-between w-100 mt-4 flex-wrap">
                <div><i class="devicon-git-plain-wordmark colored"></i></div><div><i class="devicon-docker-plain-wordmark colored"></i></div><div><i class="devicon-firebase-plain-wordmark colored"></i></div><div><i class="devicon-heroku-plain-wordmark colored"></i></div>
                <div><i class="devicon-mongodb-plain-wordmark colored"></i></div><div><i class="devicon-graphql-plain-wordmark colored cho"></i></div><div><i class="devicon-yarn-plain colored"></i></div><div><i class="devicon-photoshop-plain colored"></i></div><div><i class="devicon-illustrator-plain colored"></i></div>
            </div>
            </div>
        </div>
</div>
<div class="bg-light">
    <div class="padd container" id="portfolio">
        <div class="row">
            <div class="col-12">
                <h2 class="display-6 mb-4">Recent Works</h2>
            </div>

            <div class="row">
                <div class="col-12 mb-4">
                    <div class="button-group filters-button-group d-md-flex justify-content-start">
                        <button class="button is-checked"> Some of my recent projects</button>
                    </div>
                </div>
             </div>
            <div class="csharp col-12 container">
                <div class="row ">
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card px-0 d-flex align-items-lg-stretch">
                            <img src="https://i.postimg.cc/zfRLN7bM/staff.png" class="shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Staff MAnagement App</h5>
                                <p class="card-text"><i class="devicon-csharp-plain-wordmark colored mr-2"></i>  <i class="devicon-dotnetcore-plain colored"></i> A solution for managing employees and departments in an organisation.</p>
                                <div class="d-flex align-items-center justify-content-center"  ><a class="mr-2" href="https://staffmanagementcsharp.herokuapp.com/"><i class="lni lni-eye"></i></a><a href="https://github.com/isaacRaphael/Staff-Manager-Project"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/BbJtxGY9/store.png" class=" shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Grocery Store Front</h5>
                                <p class="card-text"><i class="devicon-csharp-plain-wordmark colored mr-2"></i>  <i class="devicon-dotnetcore-plain colored"></i> A Point of sale application for a grocery store</p>
                                <div class="d-flex align-items-center justify-content-center"><a href="https://github.com/isaacRaphael/GroceryStoreFront_ASPMVC_and_WindowsUI"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/PfMCdPJt/rest.png" class="shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Resturant Sales point app</h5>
                                <p class="card-text"><i class="devicon-csharp-plain-wordmark colored mr-2"></i>  <i class="devicon-dotnetcore-plain colored"></i> A Point of sale application for a restaurant</p>
                                <div class="d-flex align-items-center justify-content-center"><a href="https://github.com/isaacRaphael/ASP-Mvc_Restaurant_App-"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/hjJM0DTQ/imagx.png" class="shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">IMagX API</h5>
                                <p class="card-text"><i class="devicon-csharp-plain-wordmark colored mr-2"></i>  <i class="devicon-dotnetcore-plain colored"></i> A Rest API for an Image sharing and processing platform</p>
                                <div class="d-flex align-items-center justify-content-center"><a href="https://github.com/isaacRaphael/ImagXApi"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/Nf7M0RSL/Review.png" class="shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Review API</h5>
                                <p class="card-text"><i class="devicon-csharp-plain-wordmark colored mr-2"></i>  <i class="devicon-dotnetcore-plain colored"></i> A Rest Api for a pokemon review app</p>
                                <div class="d-flex align-items-center justify-content-center"><a href="https://github.com/isaacRaphael/PokemonReviewApi"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/6Qhysbnr/Healt-tracker-api.png" class="shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Health Tracker Api</h5>
                                <p class="card-text"><i class="devicon-csharp-plain-wordmark colored mr-2"></i>  <i class="devicon-dotnetcore-plain colored"></i> A Rest Api for a Health Tracking app</p>
                                <div class="d-flex align-items-center justify-content-center"><a href="https://github.com/isaacRaphael/Health-Tracker-Api"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card px-0 d-flex align-items-lg-stretch">
                            <img src="https://i.postimg.cc/sf5SKm0J/weather.png" class="shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Weather App</h5>
                                <p class="card-text"><i class="devicon-javascript-plain colored mr-2"></i>  <i class="devicon-sass-original colored"></i> A Web based weather app that tells weather on search and by Geolocation.</p>
                                <div class="d-flex align-items-center justify-content-center"><a class="mr-2" href="http://weatherraphy.netlify.app"><i class="lni lni-eye"></i></a><a href="https://github.com/isaacRaphael/weather-app"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/HLPKZdnF/book.png" class=" shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Online Book Store</h5>
                                <p class="card-text"><i class="devicon-javascript-plain colored mr-2"></i>  <i class="devicon-sass-original colored mr-2"></i> <i class="devicon-firebase-plain-wordmark colored"></i>A web based online store for Books and Journals</p>
                                <div class="d-flex align-items-center justify-content-center"><a class="mr-2" href="https://fabedubooks.com/"><i class="lni lni-eye"></i></a><a href="https://github.com/isaacRaphael/FAB-website"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/BZx36PX6/face.png" class="shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">AI Face Detector App</h5>
                                <p class="card-text"><i class="devicon-javascript-plain colored mr-2"></i>  <i class="devicon-sass-original colored mr-2"></i> <i class="devicon-nodejs-plain-wordmark colored mr-2"></i> <i class="devicon-postgresql-plain-wordmark colored mr-2 "></i>A web based face dectection software</p>
                                <div class="d-flex align-items-center justify-content-center"><a class="mr-2" href="http://url-face-detector.netlify.app/"><i class="lni lni-eye"></i></a><a href="https://github.com/isaacRaphael/face-detector"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/fTQMMjCk/movie-app.png" class=" shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Movie app</h5>
                                <p class="card-text"><i class="devicon-javascript-plain colored mr-2"></i>  <i class="devicon-sass-original colored mr-2"></i> <i class="devicon-react-original-wordmark colored"></i>An Online Movie platform for searching the movie database</p>
                                <div class="d-flex align-items-center justify-content-center"><a href="https://github.com/isaacRaphael/movie-app"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/k47xrtHH/class.png" class=" shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Online Classroom</h5>
                                <p class="card-text"><i class="devicon-javascript-plain colored mr-2"></i>  <i class="devicon-sass-original colored mr-2"></i> <i class="devicon-react-original-wordmark colored"></i>An Online Classroom platform</p>
                                <div class="d-flex align-items-center justify-content-center"><a class="mr-2" href="https://isaacraphael.github.io/kodecamptask6/"><i class="lni lni-eye"></i></a><a href="https://github.com/isaacRaphael/kodecamptask6"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://i.postimg.cc/ZY2Lfjm7/music.png" class=" shadow" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Online Music Player</h5>
                                <p class="card-text"><i class="devicon-javascript-plain colored mr-2"></i>  <i class="devicon-sass-original colored mr-2"></i> <i class="devicon-react-original-wordmark colored"></i>A web based music player</p>
                                <div class="d-flex align-items-center justify-content-center"><a class="mr-2" href="https://raphs-music-app.netlify.app"><i class="lni lni-eye"></i></a><a href="https://github.com/isaacRaphael/js-music-app"> <i class="devicon-github-original colored"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <a href="https://github.com/isaacRaphael">View more projects on my Github <i class="devicon-github-original colored"></i></a>
                </div>    
            </div>
            </div>
        </div>
</div>

<div class="padd" id="contact">
    <div class="container">
        <div class="row padd-top-new">
            <div class="col-12">
                <h2 class="display-6 mb-5">Contact Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form asp-action="Index" >
                    <div class="row mb-2 pt-2">
                        <div class="col-12 col-lg-6">
                            <div class="value">
                                <input required asp-for="Name" type="text" name="name" placeholder="Name *">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="value">
                                <input required asp-for="Phone" type="text" name="tel" placeholder="Phone *">
                                <span class="text-danger" asp-validation-for="Phone"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 pt-2">
                        <div class="col-12 col-lg-6">
                            <div class="value">
                                <input required asp-for="Email" type="text" name="email" placeholder="Email *">
                                <span class="text-danger" asp-validation-for="Email"></span>

                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="value">
                                <input required asp-for="Subject" type="text" name="subject" placeholder="Subject *">
                                <span class="text-danger" asp-validation-for="Subject"></span>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="value">
                            <textarea required asp-for="Message" name="message" placeholder="Message"></textarea>
                            <span class="text-danger" asp-validation-for="Message"></span>

                        </div>
                    </div>
                    <button type="submit" class="btn">Send Message</button>
                </form>
            </div>
        </div>
    </div>
 </div>

<footer class="text-center text-lg-start" style="background-color: #EDE574;">
    <div class="container d-flex justify-content-center py-3 px-5 text-white">
        "Some people can read War and Peace and come away thinking it's a simple adventure story. Others can read the ingredients on a chewing gum wrapper and unlock the secrets of the universe."<br />
        - Lex Luthor
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Designed By Raphael Isaac</a>
    </div>
    <!-- Copyright -->
</footer>
<style>

    .tools i {
        font-size: 30px;
    }
    

</style>